<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="Tests/bootstrap.php"
>

    <testsuites>
        <testsuite name="TestBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>
	
    <php>
        <const name="HOSTNAME" value="127.0.0.1" />
        <const name="PORT" value="22" />
        <const name="USERNAME" value="testing" />
        <const name="PASSWORD" value="testing" />
    </php>
</phpunit>